@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-image: url('../images/psbg.png');
  background-size: cover;
  background-position: center center;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
}

.fas {
  color: #f50057;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 2rem;
  font-weight: 200;
  font-size: 1rem;
}

.active {
  color: black;
  font-weight: bold;
}

.content {
  font-size: 20px;
  margin: auto;
  margin-left: 190px;
}

.content h1 {
  color: black;
  font-weight: 200;
  line-height: 63px;

  margin-bottom: 30px;
}

.highlight {
  padding: 1rem;
  background-color: #f50057;
  color: white;
  text-decoration: none;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
}
